<% for(var i=0;i<users.length;i++){ %>
<tr>
    <th scope="row"><%= i+1 %></th>
    <td><%= users[i]._id %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].password %></td>
    <td><%= users[i].role %></td>
    
    <td>
        <a href="/update-user/<%= users[i]._id %>" type="button" class="btn btn-dark btn-sm ">Update</a>
        <a href="/delete-user/<%= users[i]._id %>" type="button" class="btn btn-dark btn-sm ">Delete</a>
    </td>
  </tr>
  <% } %>